delivery_schedule.pdf
course_materials/cloud_foundations/officials_docs/*
course_materials/cloud_computing_aws/AWS Academy Sign-up Guide-v1.2.pdf
course_materials/cloud_computing_aws/CloudComputingOnAWS-1.docx
